<div id="modal">
<!--   Sign Up
  <form>
    <input placeholder="email address...">
    <input placeholder="password...">
    <input placeholder="confirm password...">
  </form>
  Log in
  <form>
    <input placeholder="email address...">
    <input placeholder="password...">
  </form> -->
  Log In with...
<!--   <button>Google</button>
  <button>Facebook</button>
  <button>Twitter</button> -->

  <a href="/auth/google">Google</a>
  <a href="/auth/facebook">Facebook</a>
  <a href="/auth/twitter">Twitter</a>

  <button ng-click="modalShow=false">Cancel</button>
</div>