<div>
<!--   Sign Up
  <form>
    <input placeholder="email address...">
    <input placeholder="password...">
    <input placeholder="confirm password...">
  </form>
  Log in
  <form>
    <input placeholder="email address...">
    <input placeholder="password...">
  </form> -->

  <a href="/auth/google"><i class="fa fa-google-plus-square fa-2x inline google"></i></a>
  <a href="/auth/facebook"><i class="fa fa-facebook-square fa-2x inline facebook"></i></a>
  <a href="/auth/twitter"><i class="fa fa-twitter-square fa-2x inline twitter"></i></a>

  <button ng-click="authModalOpen=false; authModalClose=true">Cancel</button>
</div>